  <div class="bg-mania">
    <div class="container py-3 vh-100">
      <div class="row">
        <div class="col-12 col-md-6 px-5 mx-auto text-center">
        <img loading="lazy" src="../assets/Marcas-tutoriales.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2" style="width: 320px;">
        <img loading="lazy" src="../assets/maquinadebonos.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2" style="width: 300px;">
        <p class="text-center mt-2">¡Algo salió mal! , por favor inténtalo nuevamente dando clic <a href="/">aquí</a>.</p></div>
      </div>
    </div>

  </div>
 

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        //DESHABILITAMSO BOTON DE RETROCESO EN EL NAVEGADOR
        window.location.hash="no-back-button";
        window.location.hash="Again-No-back-button"
        window.onhashchange=function(){window.location.hash="no-back-button";}   
    });
</script>