<div class="container">
    <h1>Login Administrador</h1>
    <form action="login" method="POST">
        <input type="text" name="usuario_Admin" placeholder="Usuario administardor">
        <input type="password" name="pass_admin" placeholder="Contraseña">
        <button type="submit">Enviar</button>
    </form>
</div>


