<div class="container-fluid px-0">

    <div class="bg-mania pb-5">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
          <a class="navbar-brand" href="https://www.comprajuegaygana.com"><img loading="lazy" src="../assets/Logo-menu.png" alt="CH, Esprit, Americanino" class="img-fluid mx-auto d-block"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mt-md-4 mt-lg-auto align-items-center">
              <li class="nav-item">
                <a class="nav-link text-dark" href="#Requisitos">Requisitos</a>
              </li>
              <li class="nav-item">
                <form action="/distribuidores_autorizados" method="POST">
                    <input type="text" value="ECU" name="pais" hidden>
                    <button class="btn text-dark" type="submit">Tiendas participantes</button>
                </form>
              </li>
              <li class="nav-item">
                  <form action="usuarios/redimir_premio_form" method="POST">
                        <input type="text" hidden value="ECU" name="pais">
                        <a class="nav-link" target="_blank"><button class="btn btn-red text-light" type="submit" onclick="window.location='usuarios/redimir_premio'">Redimir</button></a>
                  </form>
                <!--<a class="nav-link" target="_blank"><button class="btn btn-red text-light" type="button" onclick="window.location='usuarios/redimir_premio'">Redimir</button></a>-->
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- contenido -->
      <div class="container">
        <div class="row mx-auto">
          <div class="col-12 col-md-6">
              <img loading="lazy" src="../assets-ecuador/maquinadebonos.png" alt="regresa Bonomanía" class="img-fluid mx-auto d-block mt-2 animate__animated animate__backInLeft animate__delay-1s">
          </div>
          <div class="col-12 col-md-6">
            <h2 class="text-center mt-4 mb-0">POR COMPRAS IGUALES O SUPERIORES A <br><B>$120 USD</B> EN LAS MARCAS</h2>
            <img loading="lazy" src="../assets/marcas.png" alt="Americanino chevignon y Esprit edc" class="img-fluid mx-auto d-block mt-2 animate__animated animate__fadeIn animate__delay-1s">
            <h2 class="text-center mt-4 mb-0">PARTICIPA POR PREMIOS DE HASTA</h2>
            <h1 class="text-center mb-0 text-red">$320 USD</h1>
            <div class="d-grid col-8 mx-auto mt-4 mb-2">
              <button class="btn btn-red text-light animate__animated animate__heartBeat animate__delay-2s animate__repeat-2" type="button" onclick="window.location='usuarios/terminos_condiciones_ECU'"><h6 class="mb-0 p-2">Participa ahora</h6></button>
            </div>   
            <a class="link-dark" href="usuarios/terminos_condiciones_ECU"><p class="text-black text-center"><small>Leer términos y condiciones</small></p></a>
          </div>
          <div class="col-12">
            <h3 class="text-center">Vigencia del 20 de mayo al 30 de Julio de 2022</h3>
            <a class="link-dark text-end active d-flex align-items-center justify-content-end" aria-current="page" href="#Requisitos"><img loading="lazy" src="../assets/icon-down.svg" alt="subir" class="img-fluid m-2"><h6>Conoce los requisitos para participar</h6></a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-mania-2 py-5">
      <div class="container">
        <div class="row mx-auto">
          <div class="col-12">
            <div class="ratio ratio-16x9">
        
              <video controls poster="../assets-ecuador/videoPoster.png">
              <source src="../assets-ecuador/comoJugar.mp4" type="video/mp4">
              Your browser does not support the video tag.
              </video>
            </div>
          </div>
          <div class="col-12 col-md-6" id="Requisitos">
            <h2 class="text-white mt-5 mb-0">Requisitos para participar:</h2>
            <h6 class="text-white my-3"><span><img loading="lazy" src="../assets/18+.svg" width="60px" alt="mayor de edad" class="img-fluid"></span> Ser mayor de edad.</h6>
            <h6 class="text-white my-3"><span><img loading="lazy" src="../assets/compras.svg" width="60px" alt="mayor de edad" class="img-fluid"></span> Realizar una compra igual o superior a <b>$120 USD</b> de las marcas <b>Americanino, Chevignon o Esprit</b>, en las tiendas  participantes en la estrategia. </h6>
            <h6 class="text-white my-3"><span><img loading="lazy" src="../assets/datos.svg" width="60px" alt="mayor de edad" class="img-fluid"></span> Autorizar el tratamiento de los <b>datos personales.</b></h6>
          </div>
          <div class="col-12 col-md-6">
              <img loading="lazy" src="../assets-ecuador/boton-bonos.png" alt="Bonomanía 2022" class="img-fluid mx-auto d-block mt-2 animate__animated animate__zoomInDown animate__delay-1s">
          </div>
          <div class="col-12 col-md-8 mx-auto">
            <h3 class="text-center text-white pt-2">Aplica en todo el territorio nacional, en las tiendas físicas de distribuidores autorizados.</h3>
            <div class="d-grid col-lg-6 col-md-6 col-8 mx-auto mt-4 mb-2">
                <form action="/distribuidores_autorizados" method="POST">
                    <input type="text" value="ECU" name="pais" hidden>
                    <button class="btn btn-red text-light d-flex mx-auto" type="submit"><h6 class="mb-0">Ver tiendas participantes</h6></button>
                </form>
            </div>
          </div>
          <div class="col-12">
            <a class="link-light text-end active d-flex align-items-center justify-content-end" aria-current="page" href="#"><img loading="lazy" src="../assets/icon-up.svg" alt="subir" class="img-fluid m-2"><h6>Regresar arriba</h6></a>
          </div>
        </div>
      </div>
    </div>

    <footer class="py-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <p class="text-center mb-0"><small>COMPRA, JUEGA Y GANA • AMERICANINO - CHEVIGNON  - ESPRIT • &copy; 2022</small></p>
          </div>
        </div>
      </div>
    </footer>

</div>
