  <div class="bg-mania pb-5 pt-5">
    <div class="container px-0 py-5">
       <div class="row">
          <div class="col-12">
              <img src="../assets/bonomania-brand.png" class="d-flex mx-auto img-fluid mt-0" alt="" onclick="window.location='/COL'">
               <h6 class="text-center mt-3"><b>Elige el país donde participarás</b></h6>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6 col-12 d-flex justify-content-center justify-content-md-end align-items-center mb-md-0 mb-3">
              <img src="../assets/Colombia-flag.png" class="img-fluid pe-auto btnFlag pr-2" alt="" onclick="window.location='/COL'">
              <h6 class="mx-4"><b>Colombia</b></h6>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-center justify-content-md-start align-items-center">
              <img src="../assets/Ecuador-flag.png" class="img-fluid pe-auto btnFlag" alt="" onclick="window.location='/ECU'">
              <h6 class="mx-4"><b>Ecuador</b></h6>
          </div>
        </div>
    </div>
  </div>