
<!-- modal terminos y condiciones Colombia -->
<div class="modal fade bg-mania" id="modalTermCondi_1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content contenido-modal">
      <div class="modal-header container-fluid">
        <div class="row mx-auto">
          <div class="col-12 mx-auto">
            <img loading="lazy" src="../assets/Marcas-tutoriales.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2 mb-2" style="width: 320px;">
            <h2 class="text-center"><B>TÉRMINOS Y CONDICIONES</B></h2>
            <p class="text-center"><B>CONCURSO</B></p>
            <P class="text-center"><B>“BONOMANÍA”</B></P>
          </div>
        </div>
      </div>
      <div class="modal-body p-0">
         <div class="col-12 bg-white form-control" id="termsConditionsDiv" style="width: 100%; height: 300px; overflow-y: scroll;">
            <ol>
              <li>
                <p><b>RESPONSABLE DE LA ACTIVIDAD.</b>
                  <br>
                  La actividad comercial en adelante el “Concurso”, es realizada por MERCADEO Y MODA S.A.S, COMODÍN S.A.S. E INDUSTRIA MERCADEO Y COLOR S.A.S, identificadas con los NIT. 800.169.352-6, 800.069.933-6 y 890.940.122-2 respectivamente, y domiciliadas en la ciudad de MEDELLÍN (Antioquia), en adelante las “Compañías”.</p>
              </li>
              <li>
                <p><b>VIGENCIA.</b>
                  <br>
                  La actividad iniciará el día lunes 25 de abril de 2022 y finalizará el jueves 30 de junio de 2022.
                </p>
              </li>
              <li>
                <p><b>ÁMBITO DE APLICACIÓN.</b>
                  <br>
                  La actividad se realizará en las tiendas físicas de los distribuidores autorizados seleccionados de las marcas Chevignon, Americanino y Esprit (en adelante las “Marcas”), los cuales pueden ser consultados en: 

                    <form action="/distribuidores_autorizados" method="POST" id="frmDistribuidoresAutorizadosColombia">
                      <input type="text" value="COL" name="pais" hidden>
                      <a href="#" onclick="document.getElementById('frmDistribuidoresAutorizadosColombia').submit()">Distribuidores autorizados</a>
                    </form>
                  <br>
                  Los premios son redimidos al momento de la actividad en el sitio.
                </p>
              </li>
              <li><p><b>REQUISITOS PARA PARTICIPAR.</b></p>
                <ol>
                  <li><p>Ser mayor de edad.</p></li>
                  <li><p>Realizar compras iguales o superiores a $250.000 en productos de las marcas Americanino, Chevignon y/o Esprit en cualquier tienda física de los distribuidores autorizados con exclusividad en la estrategia.</p></li>
                  <li><p>La compra se debe realizar en una única factura.</p></li>
                  <li><p>Vivir en Colombia.</p></li>
                  <li><p>Autorizar el tratamiento de datos personales.</p></li>
                </ol>
              </li>
              <li><p><b>MECÁNICA DEL CONCURSO.</b></p>
                <ol>
                  <li><p><b>Descripción general:</b>A partir del día lunes 25 de abril de 2022, y hasta el jueves 30 de junio de 2022, las Compañías lanzarán un juego de habilidad y destreza, llamado “BONOMANÍA”, el cual consiste en:
                    <br>
                  El participante deberá realizar una (1) compra igual o superior a $250.000 en productos de las marcas Americanino, Chevignon y/o Esprit, en una única factura, en alguna de las tiendas físicas seleccionadas de los distribuidores autorizados de cada Compañía.
                    <br>
                  Inmediatamente el participante deberá ingresar al siguiente link: <a target="_blank" href="http://www.comprajuegaygana.com">www.comprajuegaygana.com</a> o escanear a través del celular el código QR ubicado en la tienda que lo llevará a la actividad, la cual consiste en presionar con un dedo el mayor número de veces el botón que aparece en pantalla durante 15 segundos generando los CLIC´S; después de los 15 segundos de presionar el botón, aparecerá en pantalla el número de la factura del cliente, el puntaje obtenido en el juego y el premio adquirido, al cual deberás tomarle un pantallazo para poder reclamarlo. El participante podrá obtener como premio una de las siguientes opciones:
                    </p>
                    <ul>
                      <li><p>Si el jugador adquiere un puntaje entre 0 y 80 clics podrá reclamar un obsequio de cualquiera de las Marcas (sujeto a disponibilidad) el obsequio podrá ser: Marca Chevignon: una cartuchera, una libreta o una lonchera; Marca Esprit: un lapicero, un brillo, un pin de corazón, un abanico o una pinza mensaje; Marca Americanino: una riñonera o un bolso eco.</p></li>
                      <li><p>Si el jugador adquiere un puntaje entre 81 y 100 clics podrá reclamar un bono de $50.000 para redimir en prendas de las Marcas</p></li>
                      <li><p>Si el jugador adquiere un puntaje entre 101 y 150 clics podrá reclamar un bono de $100.000 para redimir en prendas de las Marcas.</p></li>
                      <li><p>Si el jugador adquiere un puntaje entre 151 y 180 clics podrá reclamar un bono de $250.000 para redimir en prendas de las Marcas.</p></li>
                      <li><p>Si el jugador adquiere un puntaje superior a 181 clic podrá reclamar un bono de $1.000.000 para redimir en prendas de las Marcas.</p></li>
                    </ul>
                  </li>
                  <li><p><b>Procedimiento:</b>Para participar se deben tener en cuenta las siguientes consideraciones:</p>
                    <ol>
                      <li><p>El día lunes 25 de abril de 2022 se dará inicio a la Actividad.</p></li>
                      <li><p>El participante deberá desplazarse a cualquiera de los puntos de venta físicos de los distribuidores autorizados seleccionados.</p></li>
                      <li><p>El participante deberá realizar una compra igual o superior a $250.000 en productos de las marcas Americanino, Chevignon y/o Esprit, en una única factura.</p></li>
                      <li><p>l participante deberá ingresar a <a target="_blank" href="http://www.comprajuegaygana.com">www.comprajuegaygana.com</a> y dar clic en “Participa ahora”</p></li>
                      <li><p>El participante deberá llenar el formulario de control con: Ciudad, Tienda, Nombre, Cédula y Número de factura, y deberá aceptar los términos y condiciones del juego.</p></li>
                      <li><p>Una vez inicie el juego el participante deberá dar clic o presionar el botón de la máquina que aparece en pantalla por 15 segundos de forma rápida y consecutiva con el objetivo de lograr el mayor número de clics.</p></li>
                      <li><p>Pasados los 15 segundos, saldrá en pantalla el número de clics que logró obtener el participante y el premio asociado a esa puntuación.</p></li>
                      <li><p>El participante solamente tendrá una (1) oportunidad para jugar y podrá ganar un premio en una partida.</p></li>
                      <li><p>Los bonos no serán canjeables por dinero en efectivo.</p></li>
                      <li><p>Los bonos se pueden hacer efectivos en otra compra hasta el 30 de julio de 2022.</p></li>
                      <li><p>Para redimir el premio es indispensable presentar la factura de compra original y el pantallazo de confirmación del premio obtenido. </p></li>
                      <li><p>El premio es redimible únicamente en la misma tienda donde se obtuvo.</p></li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>
                <p><b>PLAN DE PREMIOS.</b></p>
                  <ol>
                    <li><p><b>Premios: </b>Dependiendo del puntaje obtenido por el jugador, éste ganará uno de los siguientes premios:</p>
                      <ul>
                        <li><p>Un obsequio de cualquiera de las marcas (sujeto a disponibilidad):</p>
                          <ul>
                            <li><p>Marca Chevignon: una cartuchera, una libreta o una lonchera.</p></li>
                            <li><p>Marca Esprit: un lapicero, un brillo, un pin de corazón, un abanico o una pinza mensaje.</p></li>
                            <li><p>Marca Americanino: una riñonera o un bolso eco.</p></li>
                          </ul>
                        </li>
                        <li><p>Un bono de $50.000 para redimir en prendas de las Marcas.</p></li>
                        <li><p>Un bono de $100.000 para redimir en prendas de las Marcas.</p></li>
                        <li><p>Un bono de $250.000 para redimir en prendas de las Marcas.</p></li>
                        <li><p>Un bono de $1.000.000 para redimir en prendas de las Marcas.</p></li>
                      </ul>
                    </li>
                    <li><p><b>Reclamo de los premios:</b> Los premios deben ser reclamados y/o redimidos únicamente en la tienda física donde se realizó la compra. Si el premio es un obsequio de las Marcas, los ganadores podrán reclamar inmediatamente el premio. Los bonos se pueden hacer efectivos en otra compra hasta el 30 de julio de 2022. Para redimir el premio es indispensable presentar la factura de compra original y el pantallazo de confirmación del premio obtenido.</p></li>
                    <li><p><b>Condiciones del premio:</b> No son redimibles en dinero. Personal e intransferible para el ganador del obsequio. Los obsequios no tienen cambio.</p></li>
                  </ol>
              </li>
              <li><p><b>ACEPTACIÓN DEL REGLAMENTO/EXIMENTES DE RESPONSABILIDAD.</b> El simple hecho de participar en la Actividad implica la total aceptación de los presentes términos y condiciones. En caso de identificarse fraude, las Compañías puede descalificar al (los) participante(s) y/o cancelar la Actividad. Las Compañías presume la buena fe de sus participantes. Las Compañías podrá tomar la decisión de descalificar a alguno de los participantes de esta Actividad en caso de detectar alguna acción fraudulenta, previa motivación de su acto de descalificación. </p></li>
            </ol>
          </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button id="btnAceptarDesactivado" class="btn btn-secondary text-light p-2 mx-auto">Aceptar</button>

        <form action="/usuarios/loginUsuarios" method="post">
           <input type="text" value="COL" name="pais" hidden>
           <!--<button id="btnAceptarActivado" class="btn btn-red text-light p-2 mx-auto d-none" onclick="location.href='/usuarios/login/Colombia'">Aceptar</button>-->
           <button id="btnAceptarActivado" class="btn btn-red text-light d-none" type="submit">Aceptar</button>
        </form>
               
        <!--<button class="btn btn-red text-light p-2 mx-auto" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Aceptar</button>-->
      </div>
    </div>
  </div>
</div>





<!-- modal terminos y condiciones Ecuador-->
<div class="modal fade bg-mania" id="modalTermCondiEcuador_1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content contenido-modal">
      <div class="modal-header container-fluid">
        <div class="row mx-auto">
          <div class="col-12 mx-auto">
            <img loading="lazy" src="../assets/Marcas-tutoriales.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2 mb-2" style="width: 320px;">
            <h2 class="text-center"><B>TÉRMINOS Y CONDICIONES</B></h2>
            <p class="text-center"><B>CONCURSO</B></p>
            <P class="text-center"><B>“BONOMANÍA”</B></P>
          </div>
        </div>
      </div>
      <div class="modal-body p-0">
         <div class="col-12 bg-white form-control" id="termsConditionsEcuadorDiv" style="width: 100%; height: 300px; overflow-y: scroll;">
       <ol>
              <li>
                <p><b>RESPONSABLE DE LA ACTIVIDAD.</b>
                  <br>
                  La actividad comercial “BONOMANÍA” en adelante la “Actividad”, es realizada por la sociedad COMODIN S.A. (en adelante LA ORGANIZADORA), identificada con el RUC 1793178650001 y domiciliada en la ciudad de Quito (Ecuador).</p>
              </li>
              <li>
                <p><b>VIGENCIA.</b>
                  <br>
                  La Actividad estará vigente en la República del Ecuador e iniciará el día viernes 20 de mayo de 2022 y finalizará el sábado 30 de julio de 2022.
                </p>
              </li>
              <li>
                <p><b>PARTICIPANTES.</b>
                  <br>
                  Podrán participar en la Actividad las personas naturales, que sean residentes en Ecuador, mayores de edad y cumplan con las condiciones previstas en el presente documento.
                  <br>
                  No podrán participar funcionarios o empleados de LA ORGANIZADORA, cualquiera de las filiales y/o subsidiarias, ni sus familiares directos hasta el cuarto grado de consanguinidad o segundo grado de afinidad. De la misma forma no podrá participar ninguna persona y/o colaborador que haya podido estar relacionado de alguna manera con la organización y logística de la Actividad.
                </p>
              </li>

              <li><p><b>REQUISITOS PARA PARTICIPAR.</b></p>
                <ol>
                  <li><p>Ser mayor de 18 años de edad y tener residencia en Ecuador.</p></li>
                  <li><p>Realizar compras iguales o superiores a USD120 en productos de las marcas Americanino, Chevignon y/o Esprit en cualquier tienda física de los distribuidores autorizados en la República del Ecuador.</p></li>
                  <li><p>La compra se debe realizar en una única factura.</p></li>
                </ol>
              </li>
              <li><p><b>MECÁNICA DEL CONCURSO.</b></p>
                <ol>
                  <li><p><b>Descripción general:</b> Para participar en la Actividad, la persona, dentro del tiempo de vigencia de la misma, deberá realizar al menos una (1) compra igual o superior a USD120 en productos de las marcas Americanino, Chevignon y/o Esprit (en adelante las “Marcas”), en una única factura, en alguna de las tiendas físicas seleccionadas de los distribuidores autorizados de cada Compañía, en la República del Ecuador, los cuales pueden ser consultados en: <a target="_blank" href="https://www.comprajuegaygana.com/distribuidores_autorizados">www.comprajuegaygana.com</a>
                    <br>
                    <br>
                  Inmediatamente a haber hecho la compra, la persona deberá ingresar, desde su celular, al siguiente link:  <a target="_blank" href="https://www.comprajuegaygana.com">www.comprajuegaygana.com</a> o escanear por medio de este dispositivo el código QR ubicado en la tienda. En cualquier caso, se dirigirá al juego de habilidad y destreza denominado “BONOMANÍA”. Desde el momento en que la persona ingrese al link mencionado anteriormente para participar hasta la terminación del juego, éste deberá estar acompañado del personal de la tienda donde realizó la compra que le permitió participar, quien auditará la transparencia del juego, de lo contrario, no se entenderá ganador del premio que aparezca en la pantalla de su celular.
                    <br>
                    <br>
                  La persona deberá llenar el formulario con la información requerida (Ciudad, Tienda, Nombre, Cédula y Número de factura, entre otros) y aceptar los términos y condiciones del juego. Luego de ello, podrá participar en el juego el cual consiste en presionar con un dedo el mayor número de veces el botón que aparece en pantalla, durante 15 segundos, generando la mayor cantidad de CLIC´S que pueda; después de los 15 segundos de presionar el botón, aparecerá en pantalla el número de la factura del cliente, el puntaje obtenido en el juego y el premio adquirido. El participante deberá tomar un “screenshot” o “captura de pantalla” con el teléfono de esta información (factura y premio adquirido) para poder reclamarlo. El participante podrá obtener como premio aquellos descritos más adelante.
                    </p>

                  <li><p><b>Condiciones generales de participación: </b>Los participantes de la Actividad deberán observar las siguientes condiciones generales:</p>
                    <ol>
                      <li><p>La persona podrá participar en el juego una (1) sola vez con cada factura de compra, independientemente del valor, siempre que este sea igual o superior a USD 120,00.</p></li>
                      <li><p>El participante solamente tendrá una (1) oportunidad para jugar y podrá ganar un premio en una partida.</p></li>
                      <li><p>Para participar en el juego, la persona deberá llenar la información requerida en el formulario de manera correcta, legal, legítima y corroborable, y deberá aceptar los términos y condiciones del juego, así como la política de privacidad y protección de datos.</p></li>
                      <li><p>LA ORGANIZADORA no se hace responsable por los efectos o consecuencias que pueda tener el participante por su participación en el juego, principalmente, en caso de que sus equipos sufran daños.</li>
                      <li><p>LA ORGANIZADORA no es desarrolladora del juego BONOMANÍA, ni es representante o licenciatario del mismo; por tanto, no puede garantizar su correcto funcionamiento, así como tampoco la continuidad del servicio. En tal sentido, no será responsable de ningún problema que pueda sufrir la plataforma desde la que opera el juego, así como cualquier dispositivo o equipo necesario para participar, ni de las consecuencias que ello pueda generar a los participantes o terceros.</p></li>
                      <li><p>LA ORGANIZADORA se reserva el derecho de descalificar a cualquier participante que considere que esté manipulando el proceso o el funcionamiento la Actividad y/o red social, que haya diligenciado de manera incorrecta la información solicitada en el formulario de datos, que no cumpla con los términos del presente documento o pretenda afectar el normal desarrollo de LA ACTIVIDAD y/o perjudicar a LA ORGANIZADORA o a cualquier otro participante a través de actos como: intromisión al sistema informático de LA ORGANIZADORA, contaminar con cualquier tipo de virus informático, código, software, programa informático, equipo informático o de telecomunicaciones, que pueda provocar daños o alteraciones no autorizadas del juego, programas o sistemas accesibles a través de los servicios y cualquier sistema de LA ORGANIZADORA; modificar y/o adulterar cualquier información para participar en la Actividad; contratar, adquirir, elaborar o utilizar códigos, sistemas de información, aplicativos, desarrollos, bots o cualquier otra herramienta tecnológica que realice las pulsaciones en la pantalla del celular, adulterando en favor del participante el número de CLIC’s efectuados sobre la pantalla, entre otros.</p></li>
                      <li><p>En caso de detectarse adulteración o manipulación de información, o que la misma sea errada o falsa, el participante responsable será eliminado de la actividad de manera inmediata.</p></li>
                      <li><p>El ganador tendrá la obligación de devolver el premio recibido de parte de LA ORGANIZADORA o su valor en dinero, de detectarse con posterioridad que el participante violó cualquiera de las prohibiciones previstas en esta cláusula. En este caso, LA ORGANIZADORA se reserva el derecho de perseguir la devolución de dicho premio o su valor en dinero en efectivo.</p></li>
                      <li><p>Se prohíbe suplantar personas o crear cuentas o usuarios ficticios en el juego.</p></li>
                      <li><p>Una persona que ha participado en el juego (e incluso ganado un premio), no queda eximido de seguir participando y ganando nuevos premios, mientras tiene vigencia la Actividad.</p></li>
                      <li><p>Los premios que se ofrecen no podrán ser sustituidas por dinero en efectivo ni por otro bien distinto al premio ofrecido.</p></li>
                      <li><p>En caso de que el premio sea un bono, éste podrá ser utilizado únicamente en la tienda en la que hizo la compra que le permitió jugar y ser beneficiario del premio. Por tanto, el ganador no podrá utilizar el bono en otros establecimientos comerciales sean o no parte de LA ORGANIZADORA. El bono es personal e intransferible.</p></li>
                      <li><p>El bono será entregado en la tienda donde se realizó la compra y se pueden hacer efectivos en otra compra hasta el 30 de agosto de 2022.</p></li>
                      <li><p>Se aclara expresamente que el premio consistente en un bono NO constituye dinero en efectivo; por tanto, el ganador no podrá reclamar a LA ORGANIZADORA el valor en dinero del Bono. Éste únicamente podrá ser utilizado en los términos previstos en el presente documento y de no hacerlo así, el ganador perderá derecho a este bono, sin posibilidad de reclamo alguno a LA ORGANIZADORA.</p></li>
                      <li><p>Si al momento de utilizar el bono en el establecimiento comercial participante, el ganador escogiere bienes que superan el valor del bono otorgado, deberá pagar la diferencia al establecimiento. Así mismo, si los productos no alcanzan el valor del bono, este saldo podrá ser utilizado en otra ocasión por el ganador, dentro del plazo previsto en el presente documento.</p></li>
                      <li><p>En caso de que no se pueda contactar y/o entregar el premio a la persona que haya participado en el juego y haya salido beneficiado, el premio se declarará desierto, sin que esta persona pueda pretender el pago de compensaciones de ninguna naturaleza.</p></li>
                      <li><p>Los premios serán personales y, consecuentemente, no podrán ser transferidos a terceros.</p></li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>
                <p><b>PLAN DE PREMIOS.</b></p>
                  <ol>
                    <li><p><b>Premios: </b>LA ORGANIZADORA otorgará los siguientes premios durante la vigencia de la Actividad, en función del puntaje obtenido por el participante, conforme consta a continuación:</p>
                      <ul>
                        <li><p>Si el jugador adquiere un puntaje entre 0 y 80 clics podrá reclamar un obsequio de cualquiera de las Marcas (sujeto a disponibilidad) el obsequio podrá ser: Marca Chevignon: una cartuchera, una libreta o una lonchera; Marca Esprit: un lapicero, un pin de corazón, un pin de oso, un collar, un abanico o una bolsa no tejida; Marca Americanino: una riñonera, un organizador, una toalla de neopreno, un kit de gimnasio, una cartuchera, una neverita, un bolso denim o un kit de aseo.</p>
                        </li>
                        <li><p>Si el jugador adquiere un puntaje entre 81 y 100 clics podrá reclamar un bono de USD25 para redimir en prendas de las Marcas.</p></li>
                        <li><p>Si el jugador adquiere un puntaje entre 101 y 150 clics podrá reclamar un bono de USD40 para redimir en prendas de las Marcas.</p></li>
                        <li><p>Si el jugador adquiere un puntaje entre 151 y 180 clics podrá reclamar un bono de USD80 para redimir en prendas de las Marcas.</p></li>
                        <li><p>Si el jugador adquiere un puntaje superior a 181 clic podrá reclamar un bono de USD320 para redimir en prendas de las Marcas</p></li>
                      </ul>
                      <p>Los premios serán adquiridos por LA ORGANIZADORA de acuerdo a su conveniencia y discreción, por tanto, el participante no podrá escoger o pretender ningún otro premio o bien que no haya sido el seleccionado por LA ORGANIZADORA. La elección del premio a entregar al ganador en función de los puntos obtenidos, también corresponderá a LA ORGANIZADORA a su entera discreción.
                      <br><br>
                      Los premios que se ofrecen (a excepción de los bonos) serán adquiridos por LA ORGANIZADORA a proveedores autorizados. En tal virtud, LA ORGANIZADORA no es fabricante y/o distribuidor de estos premios que se ofrecen, por tanto, no otorga garantía alguna sobre los mismos. Cualquier reclamo que, sobre los mismos, pretenda hacer al participante ganador, deberá realizarlo directamente al fabricante o responsable de la comercialización de los premios.
                      <br><br>
                      En caso de falta de stock, LA ORGANIZADORA podrá ver un premio sustituto de similar categoría y calidad.
                      <br><br>
                      LA ORGANIZARORA entregará los premios ofrecidos, sin tener un número determinado, hasta el último día de vigencia de la Actividad.</p>
                    </li>
                    <li><p><b>Forma de entrega del premio:</b></p>
                      <ol>
                        <li><p>El ganador podrá reclamar el premio únicamente en la tienda física en la que hizo la compra que le permitió participar en el juego y máximo hasta el 30 de agosto de 2022. Sin perjuicio de ello, si el premio es un obsequio de las Marcas, los ganadores deberá reclamar inmediatamente el premio.</p></li>
                        <li>
                          <p>Para reclamar el premio, el ganador deberá cumplir con lo siguiente:</p>
                          <ol>
                            <li><p>Presentarse, en la tienda en la que realizó la compra y hasta la fecha indicada con su documento de identidad original físico, la factura original de la compra que le permitió participar en el juego y la captura de pantalla realizada de la confirmación del premio obtenido en el juego.</p></li>
                            <li><p>Suscribir los documentos de respaldo de entrega de premio que le presente LA ORGANIZADORA, junto con aquellos necesarios para difundir los resultados de la actividad comercial. La negativa de suscripción de los documentos antes descritos implicará que el GANADOR renuncia al premio y no podrá formular reclamación alguna en contra de LA ORGANIZADORA ni sus sociedades o entidades vinculadas.</p></li>
                            <li><p>El GANADOR deberá acercarse a la tienda a reclamar el premio hasta la fecha máxima establecida. De no hacerlo hasta esta fecha, el ganador perderá el derecho a recibir el premio, sin que tenga derecho a reclamar compensaciones o indemnizaciones de ninguna naturaleza o especie.</p></li>
                          </ol>
                        </li>
                      </ol>
                    </li>
                  </ol>
              </li>
              <li><p><b>ACEPTACIÓN DEL REGLAMENTO/EXIMENTES DE RESPONSABILIDAD.</b> El simple hecho de participar en la Actividad implica la total aceptación de los presentes términos y condiciones. Los datos personales suministrados por la titular/participante sólo serán tratados por LA ORGANIZADORA, con la única finalidad de contactar a los posibles ganadores para la entrega del premio. En caso de identificarse fraude o datos erróneos, LA ORGANIZADORA puede descalificar al (los) participante(s) y/o cancelar la Actividad. El titular y/o participante es el único responsable de cualquier acción, reclamación o solicitud que se presente ante LA ORGANIZADORA, como resultado de su publicación. LA ORGANIZADORA presume la buena fe de sus participantes, y que los contenidos publicados son propios de los participantes. El participante acepta y se obliga a mantener indemne a LA ORGANIZADORA, de cualquier reclamación por parte de terceros por derechos de autor y/o imagen frente al contenido de sus publicaciones. Toda información que el participante publique en la cuenta de Instagram por fuera del mensaje directo enviado a LA ORGANIZADORA, en caso de ser contactado como posible ganador, no será tenida como confidencial, y por lo tanto no estará sujeta a lo dispuesto para la Política de tratamiento de datos de LA ORGANIZADORA. LA ORGANIZADORA no será responsable en caso de que un participante registre información falsa e ingrese esta información en la plataforma del juego de BONOMANÍA. LA ORGANIZADORA no tiene responsabilidad alguna por el uso inadecuado del juego, así como información o falsos supuestos. LA ORGANIZADORA podrá tomar la decisión de descalificar a alguno de las participantes de esta Actividad en caso de detectar alguna acción fraudulenta. LA ORGANIZADORA podrá hacer uso comercial de manera gratuita de las imágenes que comparte los participantes con los resultados obtenidos del juego para replicarlas en sus redes sociales, página web, cualquier medio físico o virtual, conocido o por conocer, sin límite territorial o espacial, y por tiempo indefinido y mientras LA ORGANIZADORA considere oportuno para sus fines promocionales y comerciales. LA ORGANIZADORA se reserva el derecho de usar o no las imágenes que se encuentren etiquetadas dentro de la presente actividad. </p></li>
              <li>
                <p><b>PROPIEDAD INTELECTUAL:</b> LA ORGANIZADORA no tiene la titularidad ni los derechos de propiedad intelectual sobre el juego, base de datos y/o software que lo contiene, por lo que no asume responsabilidad alguna por el funcionamiento del mismo, ni por la información contenida en las bases de datos y/o que se recaben a través de éstas, ni los tratamientos o usos que se hagan de esta información. En tal sentido, el participante declara conocer que el juego, bases de datos y software que lo contienen pertenecen a una tercera empresa que no tiene vinculación alguna con LA ORGANIZADORA.</p>
              </li>
              <li>
                <p>
                  <b>OBLIGACIONES VINCULANTES DEL PARTICIPANTE:</b> Por el hecho de participar en LA ACTIVIDAD, la persona participante automáticamente declara expresamente y aceptan voluntariamente que:
                </p>
                <ol>
                  <li>
                    <p>Autoriza expresamente a LA ORGANIZADORA y/o a la agencia por ella designada, sin ningún costo, la publicación y comunicación pública de los resultaos de su juego (captura de pantalla), con fines comerciales o no, que puedan contener la imagen, voz y nombres completos del participante como autor o terceros y renuncian a presentar reclamo alguno o denuncia de ningún tipo por este concepto en contra de las compañías y personas señaladas, ni ninguna otra que tenga relación con ellas.</p>
                  </li>
                  <li>
                    <p>Autoriza a LA ORGANIZADORA, sus sociedades vinculadas y/o la empresa o agencia designada por ésta, para que pueda utilizar, reproducir y/o publicar, sin ningún costo, a través de cualquier medio de comunicación, incluyendo internet, correo electrónico y medios digitales en general, su nombre completo, cuentas de redes sociales, imagen y voz que haya proporcionado, durante el tiempo y la frecuencia que considere necesario para sus objetivos promocionales y publicitarios.</p>
                  </li>
                  <li>
                    <p>Renuncia expresamente reclamar a LA ORGANIZADORA y sus sociedades vinculadas por cualquier efecto o consecuencia que su participación en LA ACTIVIDAD pueda acarrear, como beneficiario o no del premio y les libera de toda responsabilidad ante terceros por el uso o destino que dé al premio.</p>
                  </li>
                  <li>
                    <p>De ser ganador en LA ACTIVIDAD se compromete a ser registrado, grabado y fotografiado por LA ORGANIZADORA y/o la agencia de publicidad de ésta, en las fechas, las veces y durante el tiempo que LA ORGANIZADORA lo considere oportuno, a la entrega del premio.</p>
                  </li>
                  <li>
                    <p>Se sujeta a las condiciones establecidas en los presentes Términos y Condiciones, así como a cualquier modificación del mismo por parte de LA ORGANIZADORA.</p>
                  </li>
                </ol>
              </li>
              <li><b>USO Y TRATAMIENTO DATOS DE CARÁCTER PERSONAL:</b> Al aceptar participar en LA ACTIVIDAD promovida por LA ORGANIZADORA y cumplimentar los formularios de recogida de datos o utilizar cualquier otro servicio de redes sociales que implique la comunicación de sus datos personales, el Participante autoriza a LA ORGANIZADORA (Responsable del Tratamiento) a usar los datos de carácter personal que voluntariamente ha proporcionado, incluida la dirección de correo electrónico, los cuales podrán ser incorporados en los ficheros de la citada Compañía, para que ésta pueda efectuar el tratamiento, automatizado o no, de tales datos con el fin de: (1) la gestión y correcta atención de las solicitudes citadas, sugerencias o información en general; (2) enviar, incluso por correo electrónico u otro medio de comunicación electrónico equivalente, informaciones publicitarias o promociónales sobre los productos o servicios LA ORGANIZADORA o terceros; (3) compartir con terceros sus datos personales para fines de carácter comercial. En este último caso, el Participante autoriza que los terceros le envíen información sobre sus productos y servicios; (4) la transferencia internacional de sus datos personales a través de otras empresas del grupo de LA ORGANIZADORA y/o agencias de publicidad o comerciales.</li>
            </ol>
          </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button id="btnAceptarEcuadorDesactivado" class="btn btn-secondary text-light p-2 mx-auto">Aceptar</button>

        <form action="/usuarios/loginUsuarios" method="post" >
           <input type="text" value="ECU" name="pais" hidden>
           <!--<button id="btnAceptarActivado" class="btn btn-red text-light p-2 mx-auto d-none" onclick="location.href='/usuarios/login/Colombia'">Aceptar</button>-->
           <button id="btnAceptarEcuadorActivado" class="btn btn-red text-light d-none" type="submit">Aceptar</button>
        </form>

        <!--<button id="btnAceptarEcuadorActivado" class="btn btn-red text-light p-2 mx-auto d-none" onclick="location.href='/usuarios/login/Ecuador'">Aceptar</button>-->
        
        <!--<button class="btn btn-red text-light p-2 mx-auto" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Aceptar</button>-->
      </div>
    </div>
  </div>
</div>






<!--Modal ingresar código único-->
<div class="modal fade" id="modalIngresarCodigoUnico" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalIngresarCodigoUnicoLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalIngresarCodigoUnicoLabel">Redimir bono</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Código único de usuario:</label>
            <input type="text" class="form-control" id="codigoUnicoUsuario">
            <input type="text" class="form-control d-none" id="idUsuarioRedimirPremio">
          </div>
        </form>
        <div class="alert alert-danger text-center d-none" id="alertCodigoUsuario" role="alert"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="validaCodigoUsuario()">Redimir</button>
      </div>
    </div>
  </div>
</div>
<!--Fin modal ingresar código único-->

<!--Modales Tutorial Colombia-->

<div class="modal fade bg-mania" id="modalTutorial_1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalIngresarCodigoUnicoLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container py-0 py-md-3">
          <div class="row">
            <div class="bg-white rounded col-12 col-md-8 px-5 my-md-3 mx-auto">
              <img loading="lazy" src="../assets/Marcas-tutoriales.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2" style="width: 320px;">
              <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_y1oyqgjg.json"  background="transparent"  speed="1"  style="max-width: 300px; min-width: 200px; height: auto; margin-left: auto; margin-right: auto" loop autoplay></lottie-player>
              <p class="text-center mt-2">Para jugar debes dar clic en el botón de la máquina.</p>
              <div class="d-grid col-lg-4 col-md-6 col-8 mx-auto mt-4 mb-2">
                <button class="btn btn-red text-light" onclick="controlaModalesTutorial(1)" type="button"><h6 class="mb-0 p-2">Siguiente</h6></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bg-mania" id="modalTutorial_2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalIngresarCodigoUnicoLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
         <div class="container py-0 py-md-3">
          <div class="row">
            <div class="bg-white rounded col-12 col-md-8 px-5 my-5 my-md-3 mx-auto">
              <img loading="lazy" src="../assets/Marcas-tutoriales.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2" style="width: 320px;">
              <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_1tdriakp.json"  background="transparent"  speed="1"  style="max-width: 300px; min-width: 200px; height: auto; margin-left: auto; margin-right: auto" loop autoplay></lottie-player>
              <p class="text-center mt-2">Mientras más clics hagas mayor será el premio que obtendrás</p>
              <div class="d-grid col-lg-4 col-md-6 col-8 mx-auto mt-4 mb-2">
                <button class="btn btn-red text-light" onclick="controlaModalesTutorial(2)" type="button"><h6 class="mb-0 p-2">Siguiente</h6></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bg-mania" id="modalTutorial_3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalIngresarCodigoUnicoLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
         <div class="container py-3">
          <div class="row">
            <div class="bg-white rounded col-12 col-md-8 px-5 my-md-3 mx-auto">
              <img loading="lazy" src="../assets/Marcas-tutoriales.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2" style="width: 320px;">
              <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_9lld0wjk.json"  background="transparent"  speed="1"  style="max-width: 300px; min-width: 200px; height: auto; margin-left: auto; margin-right: auto" loop autoplay></lottie-player>
              <p class="text-center mt-2">Cuentas con 15 segundos y solo una oportunidad para ganar hasta $1.000.000 de pesos<br>
              <b>¿Listo para ganar?</b></p>
              <div class="d-grid col-lg-4 col-md-6 col-8 mx-auto mt-4 mb-2">
                <form action="/usuarios/juego" method="POST">
                  <input type="text" hidden value="COL" name="pais">
                  <button class="btn btn-red text-light d-flex mx-auto" type="submit"><h6 class="mb-0 p-2">Jugar</h6></button>
                  <!--<a class="mx-auto" href="/usuarios/juego"><button class="btn btn-red text-light" type="button"><h6 class="mb-0 p-2">Jugar</h6></button></a>-->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Fin Modales Tutorial Colombia-->

<!--Modales Tutorial Ecuador-->
<div class="modal fade bg-mania" id="modalTutorialEcuador_1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalIngresarCodigoUnicoLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container py-0 py-md-3">
          <div class="row">
            <div class="bg-white rounded col-12 col-md-8 px-5 my-md-3 mx-auto">
              <img loading="lazy" src="../assets/Marcas-tutoriales.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2" style="width: 320px;">
              <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_wnkh7omv.json"  background="transparent"  speed="1"  style="max-width: 300px; min-width: 200px; height: auto; margin-left: auto; margin-right: auto" loop autoplay></lottie-player>
              <p class="text-center mt-2">Para jugar debes dar clic en el botón de la máquina.</p>
              <div class="d-grid col-lg-4 col-md-6 col-8 mx-auto mt-4 mb-2">
                <button class="btn btn-red text-light" onclick="controlaModalesTutorialEcuador(1)" type="button"><h6 class="mb-0 p-2">Siguiente</h6></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bg-mania" id="modalTutorialEcuador_2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalIngresarCodigoUnicoLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
         <div class="container py-0 py-md-3">
          <div class="row">
            <div class="bg-white rounded col-12 col-md-8 px-5 my-5 my-md-3 mx-auto">
              <img loading="lazy" src="../assets/Marcas-tutoriales.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2" style="width: 320px;">
              <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_c6mrprwu.json"  background="transparent"  speed="1"  style="max-width: 300px; min-width: 200px; height: auto; margin-left: auto; margin-right: auto" loop autoplay></lottie-player>
              <p class="text-center mt-2">Mientras más clics hagas mayor será el premio que obtendrás</p>
              <div class="d-grid col-lg-4 col-md-6 col-8 mx-auto mt-4 mb-2">
                <button class="btn btn-red text-light" onclick="controlaModalesTutorialEcuador(2)" type="button"><h6 class="mb-0 p-2">Siguiente</h6></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bg-mania" id="modalTutorialEcuador_3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalIngresarCodigoUnicoLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
         <div class="container py-3">
          <div class="row">
            <div class="bg-white rounded col-12 col-md-8 px-5 my-md-3 mx-auto">
              <img loading="lazy" src="../assets/Marcas-tutoriales.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2" style="width: 320px;">
              <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_cwl05o11.json"  background="transparent"  speed="1"  style="max-width: 300px; min-width: 200px; height: auto; margin-left: auto; margin-right: auto" loop autoplay></lottie-player>
              <p class="text-center mt-2">Cuentas con 15 segundos y solo una oportunidad para ganar hasta $320 USD<br>
              <b>¿Listo para ganar?</b></p>
              <div class="d-grid col-lg-4 col-md-6 col-8 mx-auto mt-4 mb-2">
                <form action="/usuarios/juego" method="POST">
                  <input type="text" hidden value="ECU" name="pais">
                  <button class="btn btn-red text-light d-flex mx-auto" type="submit"><h6 class="mb-0 p-2">Jugar</h6></button>
                  <!--<a class="mx-auto" href="/usuarios/juego"><button class="btn btn-red text-light" type="button"><h6 class="mb-0 p-2">Jugar</h6></button></a>-->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Fin Modales Tutorial Ecuador-->


<!--Modal premio redimido-->
<div class="modal fade bg-mania" id="modalPremioRedimido" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalIngresarCodigoUnicoLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container py-3">
          <div class="row">
            <div class="bg-white rounded col-12 col-md-8 px-5 my-3 mx-auto">
              <img loading="lazy" src="../assets/Marcas-tutoriales.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2" style="width: 320px;">
              <img loading="lazy" src="../assets/maquinadebonos.png" alt="Bonomanía" class="img-fluid mx-auto d-block mt-2" style="width: 300px;">
              <p class="text-center mt-2">Redención del premio exitosa, gracias por participar en <br> <a class="text-black" href="https://www.comprajuegaygana.com"><b>Comprajuegaygana.com</b></a>
                con Americanino, Chevignon y Esprit</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-red text-light p-2 d-flex mx-auto" onclick='window.location="/"' data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!--Fin modal premio redimido-->
